body {
	background-image: url("images/Morshu-shop.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #211018;
	font-family: "Trebuchet MS";
}
h1,h2 {
	border: 10px groove #d8b993;
	border-radius: 15px;
	border-color: #d8b993;
	padding: 5px;
	text-align: center;
	background-color : #edcba1;
}
h3 {
	border: 10px groove white;
	border-radius: 5px;
	border-color: #f2edd5;
	background-color: #d7dbc5;
	text-align: center;
}
#Morshu-gif {
	width: 70%;
	height: 70%;
}
p {
	text-align: center;
}
.dialogue {
	display: flex;
  align-items: center;
}

#Morshu-gif-2 {
	margin-right:20px;
}
#textbox {
	max-width: 600px;
}

form {
	border: 10px groove white;
	border-radius: 5px;
	border-color: #f2edd5;
	background-color: #d7dbc5;
}

fieldset {
	border: 10px groove white;
	border-radius: 5px;
	border-color: #f2edd5;
	background-color: #d7dbc5;
}



